
.navbar{
    display: flex;
    justify-content: center;
    background-color:#4DB3AE;
    box-sizing: border-box;
    height: 60px;
}
ul{
    cursor: pointer;
    color: white;
    font-size: 10px;
    font-style: inherit;
    font-weight: 500;
}
#main_content{
height: 100vh;
background-image: url('../../images/main.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
li:hover{
opacity: 0.8;
margin-left: 5px;
transition:300ms;
font-size: 15px;
}
    
#main_content{
}

.company{
    border: solid 2px #007BFF;
    box-shadow: 5px 5px 10px 5px black;
    color: white;
    font-style: inherit;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 100px;
    top: 100px;
    height: 100px;
}
.btns{
    display: flex;
    justify-content: space-around;
}



