.container{
height: 100vh;
display: flex;
justify-content: center;
background-color: black;
align-items: center;
}
.text{
  color: white;
}

.form {
    display: flex;
    height:fit-content;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items to the left */
    gap: 5px; /* Add space between elements */
    padding: 25px;
    border: 3px solid greenyellow;
    border-radius: 15px;
    background-color: 1px solid #ccc ;
  }
  
  .Addrole {
    font-size: 1.5rem; /* Adjust the font size if needed */
    font-weight: bold; /* Optional: Make the title bold */
  }
  
  .datefield {
    width: 100%; 
  }
